.nopadding {
	padding: 0px;
	margin: 0px;
}

.gris {
	background-color: #1A1921;
	height: 130px;
}

.gris a {
	background-color: white;
	border-radius: 15px;
	padding: 4%;
	color: black;
}

.gris p{
	color: white;
	margin-top: 4%;
	font-size: 19px;
}

.title p:first-child {
	font-size: 20px;
	margin-top: 4%;
}

.title p {
	font-size: 9px;
}


